<section id="banner">
  <!-- Banner principal -->
</section>

<section id="server-info">
  <section id="quick-menu">
    <h3><span>QUICK MENU</span></h3>
    <p>Para você começar a jogar</p>
    <div id="btn-quick-menu">
      <button type="button">
        CADASTRO
      </button>
      <button type="button">
        DOWNLOAD
      </button>
      <button type="button">
        VOTE
      </button>
      <button type="button">
        WIKI
      </button>
    </div>
  </section>
  <h3><span>SERVIDOR</span></h3>
  <p>Principais informações sobre o servidor.</p>

  <section id="server-container">
    <!-- Bloco de status do servidor -->

    <article id="status">
      <div id="status-foto">
        <!-- Foto Kafra -->
      </div>
      <div id="status-info">
        <p>STATUS DO <span>SERVIDOR</span></p>
        <p><strong>OFFLINE</strong></p>
        <p>JOGADORES <span>ONLINE</span></p>
        <p>0</p>
        <p>RECORDE DE <span>JOGADORES</span></p>
        <p>1</p>
      </div>
    </article>

    <!-- Bloco de informações principais -->
    <article id="main-info">
      <p><strong>INFORMAÇÕES SOBRE O </strong><span>SERVIDOR</span></p>
      <ul>
        <li><strong>Episódio:</strong> Encontro com o Desconhecido</li>
        <li><strong>Rates:</strong> 100x (Base) / 100x (Job) / 25x (Drop)</li>
        <li><strong>Drop de Carta Normal:</strong> 0.25%</li>
        <li><strong>Drop de Carta MVP / Mini-Boss:</strong> 0.02%</li>
        <li><strong>Nível Máximo:</strong> 99 / 70</li>
        <li><strong>Atributos Máximos:</strong> 99</li>
        <li><strong>ASPD Máxima:</strong> 190</li>
        <li><strong>Instant Cast:</strong> 150</li>
      </ul>
    </article>

    <!-- Bloco de total de usuários -->
    <article id="total-users">
      <p>PERSONAGENS <span>CRIADOS</span></p>
      <p>18</p>
      <p>TOTAL DE <span>GUILDAS</span></p>
      <p>10</p>
      <p>TOTAL DE <span>CONTAS</span></p>
      <p>18</p>
    </article>
  </section>
</section>

<section id="news">
  <h3><span>NOVIDADES</span></h3>
  <p>O que está acontecendo pelo server</p>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary">Novidades</button>
    <button type="button" class="btn btn-primary">Middle</button>
    <button type="button" class="btn btn-primary">Right</button>
  </div>
</section>

<section id="welcome">
  <h3><span>JOGUE COM A GENTE</span></h3>
  <p>Mais do que um servidor, uma família</p>

  <section id="welcome-container">
    <!-- Boas-vindas e introdução -->
    <article id="welcome-info">
      <p><span>Seja parte dessa aventura</span></p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dignissimos sed, quasi accusamus cum ea voluptate rem saepe dolores distinctio in officia quam, fugiat recusandae nobis, architecto natus deserunt numquam.</p>
    </article>

    <!-- Imagem de boas-vindas -->
    <article id="welcome-foto">
      <!-- Foto Novice -->
    </article>

    <!-- Eventos do servidor -->
    <article id="welcome-events">
      <p><span>Os Melhores Eventos</span></p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero hic eos ab illum nobis quis, rerum ducimus commodi earum deserunt, consectetur dolorem praesentium aspernatur sequi sunt! Incidunt facilis repudiandae beatae.</p>
    </article>
  </section>
</section>

<section id="arena">
  <h3><span>ARENA</span></h3>
  <p>Veja os campeões da arena</p>
</section>

<section id="woe">
  <h3><span>WOE</span></h3>
  <p>Veja os donos dos Castelos</p>
</section>
