/* Estilos globais */
span {
  color: yellowgreen;
  font-weight: bold;
}

/* Estilo da seção #banner */
#banner{
  height: 400px;
  background-color: rgba(255, 255, 255, 0);
}

/* Estilos do server-info */

#server-info {
  margin: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85); /* Mantém transparência */
}

#server-info > h3 {
  font-weight: bold;
  font-size: 1.8rem; /* Aumenta o tamanho do título */
  color: #333; /* Torna a cor do título mais visível */
}

#quick-menu{
  padding: 30px;
}

#btn-quick-menu{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 10px;
}

#btn-quick-menu > button{
  background-color: black;
  border-radius: 5px;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  width: 250px;
  padding: 20px;
}

#btn-quick-menu > button:hover{
  background-color: rgba(0, 0, 0, 0.473);
  color: white;
}

/* Estilo do status */
#server-container {
  display: flex;
  padding-top: 30px;
  margin: auto;
  flex-flow: row wrap;
  justify-content: center;
  gap: 40px; /* Adiciona espaçamento uniforme entre os elementos */
}

#status {
  height: 400px;
  width: 420px;
  display: flex;
}

#status-foto {
  background: url(../../images/server-info\ 429x793.webp) no-repeat center center;
  background-size: cover;
  height: 380px;
  width: 200px;
}

#status-info {
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  margin-top: 10px;
}

/* Estilo das informações principais */
#main-info {
  text-align: left;
  flex: 0 1 auto;
  max-width: 400px;
  padding: 10px;
}

#total-users {
  font-weight: bold;
  text-align: center;
  flex: 0 1 auto;
  max-width: 400px;
  padding: 10px;
}

/* Estilo da seção news */
#news{
  height: 500px;
  background-color: white;
  text-align: center;
  padding-top: 30px;
}

.btn-group{
  padding: 20px;
}

.btn-group > button{
  background-color: black;
  border-color: black;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  width: 150px;
}

.btn-group > button:hover{
  background-color: rgba(0, 0, 0, 0.466);
}

/* Estilo da seção #welcome */
#welcome {
  margin: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 20px;
}

#welcome > h3 {
  font-weight: bold;
  font-size: 1.8rem;
  color: #333;
}

#welcome-container {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  margin-top: 30px;
  justify-content: center;
  gap: 40px; /* Adiciona espaço entre os elementos */
}

#welcome-info {
  flex: 0 1 400px;
  text-align: justify;
  align-self: center;
  padding: 10px;
}

#welcome-foto {
  background: url(../../images/welcome-foto.png) no-repeat center center;
  background-size: cover;
  height: 470px;
  width: 400px;
  flex: 0 1 auto;
}

#welcome-events {
  flex: 0 1 400px;
  text-align: justify;
  align-self: center;
  padding: 10px;
}

/* Estilos da arena */
#arena{
  background-color: white;
  height: 500px;
  text-align: center;
  padding-top: 30px;
}

/* Estilos da woe */
#woe{
  background-color: rgba(255, 255, 255, 0.85);
  height: 500px;
  text-align: center;
  padding-top: 30px;
}