<section id="banner">

</section>
<section id="server-info">
  <h3><span>SERVIDOR</span></h3>
  <p>Principais informações sobre o servidor.</p>
  <section id="server-container">
    <article id="status">
      <div id="status-foto">
        <!--Foto Kafra-->
      </div>
      <div id="status-info">
        <p>STATUS DO <span>SERVIDOR</span></p>
        <p>OFFLINE</p>
        <p>JOGADORES <span>ONLINE</span></p>
        <p>0</p>
        <p>RECORDE DE <span>JOGADORES</span></p>
        <p>1</p>
      </div>
    </article>
    <article id="main-info">
      <p><strong>INFORMAÇÕES SOBRE O </strong><span>SERVIDOR</span></p>
      <p><strong>Episódio:</strong> Encontro com o Desconhecido</p>
      <p><strong>Rates:</strong> 100x (Base) / 100x (Job) / 25x (Drop)</p>
      <p><strong>Drop de Carta Normal:</strong> 0.25%</p>
      <p><strong>Drop de Carta MVP / Mini-Boss:</strong> 0.02% </p>
      <p><strong>Nivel Máximo:</strong> 99 / 70</p>
      <p><strong>Atributos Máximo:</strong> 99</p>
      <p><strong>ASPD Máximo:</strong> 190</p>
      <p><strong>Instant Cast:</strong> 150</p>
    </article>
    <article id="total-users">
      <p>PERSONAGENS <span>CRIADOS</span></p>
      <p>18</p>
      <p>TOTAL DE <span>GUILDAS</span></p>
      <p>10</p>
      <p>TOTAL DE <span>CONTAS</span></p>
      <p>18</p>
    </article>
  </section>
</section>
<section id="news">

</section>
<section id="welcome">
  <h3><span>JOGUE COM A GENTE</span></h3>
  <p>Mais do que um servidor, uma família</p>
  <section id="welcome-container">
    <article id="welcome-info">
      <p><span>Seja parte dessa aventura</span></p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur dignissimos sed, quasi accusamus cum ea voluptate rem saepe dolores distinctio in officia quam, fugiat recusandae nobis, architecto natus deserunt numquam.</p>
    </article>
    <article id="welcome-foto">
      <!--Foto Novice-->
    </article>
    <article id="welcome-events">
      <p><span>Os Melhores Eventos</span></p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero hic eos ab illum nobis quis, rerum ducimus commodi earum deserunt, consectetur dolorem praesentium aspernatur sequi sunt! Incidunt facilis repudiandae beatae.</p>
    </article>
  </section>
</section>
<section id="arena">

</section>
<section id="woe">

</section>