<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMain" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Main
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMain">
          <a class="dropdown-item" href="#">Home</a>
          <a class="dropdown-item" href="#">News</a>
          <a class="dropdown-item" href="#">Downloads</a>
          <a class="dropdown-item" href="#">Rules</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAccount" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownAccount">
          <!-- Adicione conteúdo aqui -->
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDonation" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Donation
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownDonation">
          <a class="dropdown-item" href="#">Purchase</a>
          <a class="dropdown-item" href="#">Donate</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInformation" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Information
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownInformation">
          <a class="dropdown-item" href="#">Server info</a>
          <a class="dropdown-item" href="#">Server Status</a>
          <a class="dropdown-item" href="#">Woe Hours</a>
          <a class="dropdown-item" href="#">Castles</a>
          <a class="dropdown-item" href="#">Who's Online</a>
          <a class="dropdown-item" href="#">Map Statics</a>
          <a class="dropdown-item" href="#">Ranking Info</a>
          <a class="dropdown-item" href="#">Vending Info</a>
          <a class="dropdown-item" href="#">Buying Store</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDatabase" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Database
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownDatabase">
          <a class="dropdown-item" href="#">Item Database</a>
          <a class="dropdown-item" href="#">Mob Database</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSocial" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Social
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownSocial">
          <a class="dropdown-item" href="#">Facebook</a>
          <a class="dropdown-item" href="#">Rate us on RMS</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
